# Quiz 1 - Análisis de datos en Pandas

Vamos a trabajar con un conjunto de datos que contiene registros del consumo mundial de alcohol en cada uno de los paises del globo. Este conjunto de datos consta de 5 columnas:

* La primera columna contiene el año en que se hizo el registro del dato.
* La segunda columna se refiere al lugar donde la bebida fue producida.
* La tercera columna se refiere al lugar donde fue consumido la bebida alcohólica.
* La cuarta columna se refiere al tipo de bebiba alcohólica cosumida
* Y la quinta columa se refiere al promedio anual de consumo de esa bebida.

In [2]:
# Importar Paquetes necesarios para trabajar
import pandas as pd
import math

# Obtenemos los datos y los almacenamos en el dataframe wac
wac = pd.read_excel("https://github.com/BrayanTorres2/Programacion-Orientada-Por-Objetos/blob/main/World_alcohol_consumption.xlsx?raw=true")

### Ejercicio 01

Muestre las información del dataframe `wac`

In [3]:
# Respuesta al Ejercicio 01
wac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     100 non-null    int64
 1   Region   100 non-null    object
 2   Country  100 non-null    object
 3   Type     100 non-null    object
 4   Average  100 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB

### Ejercicio 02

A partir de la respuesta anterior, responda las siguientes preguntas:

* ¿Cuántas y cuáles columnas son numéricas en el dataframe?
* ¿Cuántas filas tiene el dataframe?

> Escriba aquí la respuesta a las preguntas anteriores:
1. 2 columnas, Year y Average
2. 100 filas

### Ejercicio 03

Escriba un programa en python con Pandas que muestre las 10 primeras filas del dataframe

In [4]:
# Respuesta al ejercicio 03
wac.head(10)

   Year           Region                Country     Type  Average
0  1986  Western Pacific               Viet Nam     Wine     0.00
1  1986         Americas                Uruguay    Other     0.50
2  1985           Africa           Cte d'Ivoire     Wine     1.62
3  1986         Americas               Colombia     Beer     4.27
4  1987         Americas  Saint Kitts and Nevis     Beer     1.98
5  1987         Americas              Guatemala    Other     0.00
6  1987           Africa              Mauritius     Wine     0.13
7  1985           Africa                 Angola  Spirits     0.39
8  1986         Americas    Antigua and Barbuda  Spirits     1.55
9  1984           Africa                Nigeria    Other     6.10

### Ejercicio 04

Escriba el programa en python con Pandas que muestre los registros del dataframe del año 1984 cuya región sea Africa o Americas.

In [5]:
# Respuesta al ejercicio 04
wac.loc[(wac.Year == 1984) & ((wac.Region == 'Americas') | (wac.Region == 'Africa'))]

    Year    Region            Country     Type  Average
9   1984    Africa            Nigeria    Other     6.10
16  1984  Americas         Costa Rica     Wine     0.06
19  1984    Africa              Kenya     Beer     1.08
54  1984  Americas        El Salvador  Spirits     1.81
95  1984    Africa              Niger    Other     0.00
98  1984    Africa  Equatorial Guinea     Wine     0.00

### Ejercicio 05

Escriba en python con Pandas un programa que encuentre y muestre cuantos países en Africa consumen cerveza (Type = Beer).

In [13]:
# Respuestas al ejercicio 05
paises = wac.loc[(wac.Region == 'Africa')]
len(paises.loc[paises.Type == 'Beer'])

7

### Ejercicio 06

Escriba en Pandas la expresión para saber los tipos de bebida que se consumieron en Colombia entre los años 1984 a 1986.

In [7]:
# Respuesta al ejercicio 06

wac.loc[(wac.Country == 'Colombia') & (wac.Year >= 1984) & (wac.Year <= 1986)].Type

3    Beer
Name: Type, dtype: object

### Ejercicio 07

Escriba en Pandas la expresión para conocer la suma del promedio anual de consumo (**Average**) de los países de Europa (**Region** == `'Europe'`) del año 1985

In [17]:
# Respuesta al ejercicio 07
print(wac[(wac.Region == 'Europe') & (wac.Year == 1985)]['Average'].sum())

14.64

### Ejercicio 08

Escriba en Pandas la expresión para conocer los nombres de los países de Europa donde el consumo promedio de cerveza es superior o igual a 4.0 (Tenga el cuenta el Type, la Region y el Average)

In [9]:
# Respuesta al ejercicio 08

wac.loc[(wac.Region == 'Europe') & (wac.Average >= 4.0) & (wac.Type == 'Beer')].Country

41    Czech Republic
91          Bulgaria
Name: Country, dtype: object

### Ejercicio 09

Escriba en pandas la expresión para agrupar por región y dar la suma de los promedios de consumo

In [10]:
# Respuesta al ejercicio 09

wac.groupby(by='Region')['Average'].sum()

Region
Africa                   21.12
Americas                 25.73
Eastern Mediterranean     3.44
Europe                   54.23
South-East Asia           0.00
Western Pacific           0.27
Name: Average, dtype: float64

### Ejercicio 10

Escriba en Pandas una expresión donde agrupemos por año y por tipo y que cuente el número de países en cada grupo

In [11]:
# Respuesta al ejercicio 10

wac.groupby(['Year', 'Type']).Country.count()

Year  Type
1984  Beer       4
      Other      4
      Spirits    6
      Wine       4
1985  Beer       2
      Other      7
      Spirits    5
      Wine       6
1986  Beer       3
      Other      7
      Spirits    5
      Wine       8
1987  Beer       6
      Other      6
      Spirits    4
      Wine       5
1989  Beer       9
      Other      4
      Spirits    1
      Wine       4
Name: Country, dtype: int64